canvas {
  /* border: 1px solid black; */
  height: 300px;
  width: 300px;
}

.margin-top {
  margin-top: 1rem;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.label-slider {
  color: #9e9e9e;
}

/* mdl */
.mdl-snackbar {
  background-color: #f44336 !important;
}

.mdl-layout__header-row {
  padding: 0 1.5rem;
}

.mdl-button {
  -webkit-tap-highlight-color: rgba(244, 67, 54, 0.3);
}

.mdl-ripple {
  background-color: #f44336;
}

.mdl-slider,
.mdl-slider__background-flex {
  margin: 0px;
}
